<!DOCTYPE html>
<html>
  <head>
    <title>AuthentificationWithDevise</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="<%= controller.controller_name %>-<%= controller.action_name %>">
    <header>
      <div class="container">
        <%= render "partials/navbar" %>
        <%= render "partials/flash" %>
      </div>
    </header>
    <main>
      <%= yield %>
      <%#= render "partials/footer" %>
    </main>
  </body>
</html>
